/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

/dist
**/dist/*

tsconfig.lib.tsbuildinfo

/.idea

/.claude


.nx/cache
.nx/workspace-data
vite.config.*.timestamp*

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/
android/
ios/
# supabase CLI temp artifacts
apps/database/src/supabase/.temp/
